.fi-resource-applications .prose strong {
    display: block;
    margin-bottom: 10px;
}

nav.fi-tabs {
    margin-top: -80px;
}

.industry-repeater ul > div:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
